# Desafío

Para practicar los métodos aprendidos a lo largo de esta lección y aprender nuevos, realizaremos algunos análisis utilizando un archivo CSV diferente: [alumnos.csv](https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv).

1. Importa el archivo alumnos.csv y almacena su contenido en un DataFrame de Pandas.

2. Visualiza las primeras 7 filas del DataFrame y las últimas 5.

3. Verifica la cantidad de filas y columnas en este DataFrame.

4. Explora las columnas del DataFrame y analiza los tipos de datos presentes en cada columna.

Extra: Calcula algunas estadísticas descriptivas básicas de los datos en el DataFrame (media, desviación estándar, etc.). Pista: busca el método "describe".

In [ ]:
import pandas as pd

url = "https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv"

# 1. Importar archivo y almacenar contenido en un DataFrame
datos = pd.read_csv(url, delimiter=',')

In [6]:
# 2. Visualizar las primeras 7 filas del DataFrame y las últimas 7
primeras_siete_filas = datos.head(7)
primeras_siete_filas

    Nombre  Edad  Nota Aprobado
0  Alberto    20   7.5     True
1      Ana    18   NaN    False
2   Camila    27   2.5    False
3    David    18   5.0    False
4    Brian    21  10.0     True
5    Bruna    23   NaN    False
6  Daniela    21   7.0     True

In [7]:
ultimas_cinco_filas = datos.tail(5) # tambien podría pasarse sin argumento
ultimas_cinco_filas

    Nombre  Edad  Nota   Aprobado
13  Miriam    25   9.0       True
14   Pablo    37   NaN      False
15  Milena    29   7.0       True
16   Lucas    33   NaN      False
17   Nadia    34   8.0  Verdadero

In [19]:
# 3. Verificar cantidad de filas y columnas
filas,columnas = datos.shape
print(f'La tabla tiene {filas} filas y {columnas} columnas')

La tabla tiene 18 filas y 4 columnas

In [11]:
# 4. Explorar columnas del DataFrame y analizar los tipos de datos presentes en cada columna
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nombre    18 non-null     object
 1   Edad      18 non-null     int64
 2   Nota      12 non-null     float64
 3   Aprobado  18 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 708.0+ bytes

In [13]:
datos.columns

Index(['Nombre', 'Edad', 'Nota', 'Aprobado'], dtype='object')

In [14]:
datos['Nombre']

0      Alberto
1          Ana
2       Camila
3        David
4        Brian
5        Bruna
6      Daniela
7       Carlos
8       Alicia
9       Victor
10      Danilo
11     Ignacio
12    Stephany
13      Miriam
14       Pablo
15      Milena
16       Lucas
17       Nadia
Name: Nombre, dtype: object

In [15]:
datos[['Edad', 'Aprobado']]

    Edad   Aprobado
0     20       True
1     18      False
2     27      False
3     18      False
4     21       True
5     23      False
6     21       True
7     19      False
8     35      False
9     28      False
10    21      False
11    24      False
12    26       True
13    25       True
14    37      False
15    29       True
16    33      False
17    34  Verdadero

In [16]:
datos.dtypes

Nombre       object
Edad          int64
Nota        float64
Aprobado     object
dtype: object