# Desafío
Para practicar los métodos aprendidos a lo largo de esta lección y aprender nuevos, realizaremos algunos tratamientos y selecciones utilizando un archivo CSV diferente: [alumnos.csv](https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv).

Este archivo es el mismo que se utilizó para resolver los desafíos de la lección 1 y contiene datos de estudiantes de un curso superior.

Basándonos en esto, resolvamos los problemas propuestos a continuación utilizando los conocimientos adquiridos hasta ahora.

1. Verifica si la base de datos contiene datos nulos y, en caso de tenerlos, realiza el tratamiento de estos datos nulos de la manera que consideres más coherente con la situación.

2. Los estudiantes "Alicia" y "Carlos" ya no forman parte del grupo. Por lo tanto, elimínalos de la base de datos.

3. Aplica un filtro que seleccione solo a los estudiantes que fueron aprobados.

4. Guarda el DataFrame que contiene solo a los estudiantes aprobados en un archivo CSV llamado "alumnos_aprobados.csv".

Extra: Al revisar las calificaciones de los estudiantes aprobados, notamos que algunas calificaciones eran incorrectas. Las estudiantes que obtuvieron una calificación de 7.0, en realidad tenían un punto extra que no se contabilizó. Por lo tanto, reemplaza las calificaciones de 7.0 en la base de datos por 8.0. Consejo: busca el método replace.

In [17]:
import pandas as pd

# lectura del archivo
df = pd.read_csv(
    "https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv"
)

In [18]:
# 1. Verificando existencia de nulos
df.isnull().sum()

Nombre      0
Edad        0
Nota        6
Aprobado    0
dtype: int64

In [19]:
# Tratar los nulos, se opta por eliminar porque no hay notas del estudiante
df.dropna(inplace=True)

In [20]:
# Eliminar estudiantes "Alicia" y "Carlos"
filtro1 = (df['Nombre'] != 'Alicia') & (df['Nombre'] != 'Carlos')
df1 = df[filtro1]
df1

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
6    Daniela    21   7.0       True
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
15    Milena    29   7.0       True
17     Nadia    34   8.0  Verdadero

In [32]:
# Filtro solo para estudiantes aprobados
filtro_aprobados = df['Aprobado'] == 'True'
df_aprobados = df[filtro_aprobados]
df_aprobados

      Nombre  Edad  Nota Aprobado
0    Alberto    20   7.5     True
4      Brian    21  10.0     True
6    Daniela    21   7.0     True
12  Stephany    26  10.0     True
13    Miriam    25   9.0     True
15    Milena    29   7.0     True

In [36]:
# Extra: estudiantes con calificacion 7, deben tener 8
df_aprobados = df_aprobados.replace(7.0, 8.0)

In [37]:
# Exportar datos a csv
df_aprobados.to_csv('exported-data/alumnos_aprobados.csv', index=False)